*.sublime-project
*.sublime-settings
*.sublime-workspace
build-scripts/build.properties
build-scripts/srctemp
node_modules
npm-debug.log
.vscode/
soql
.vim-force.com
IlluminatedCloud
.idea
force.json
fastsfdc.json
RetrieveStatistics.log
*.iml
debug
.DS_Store
fastsfdc.json
src/resource-bundles

.localdevserver

.swift-sfdc.json

package-lock.json

## ignore ci key
assets/ci.crt
assets/ci.csr
assets/ci.key
assets/ci.pass.key
build-scripts/assets/ci.crt
build-scripts/assets/ci.csr
build-scripts/assets/ci.key
build-scripts/assets/ci.pass.key
build-scripts/diffs.csv

# salesforce ciignore
sfdx-project.json
.forceCode
.sfdx
.forceignore
**/fastsfdc.json
.sfdy.json
